/* slider section start */
.hero-inner{
    height: 550px;
    width: 550px;
}
.hero-inner img{
    position: absolute;
    right: 120px;
}
.hero-inner .sec-0{
    height: 95%;
    width: 95%;
}
.hero-inner .sec-1{
    height: 82.5%;
    width: 82.5%;
}
.hero-inner .sec-2{
    height: 70%;
    width: 70%;
}
.facebook{
    top: 120px;
    right: 72px;
}
.linkedin{
    top: 195px;
    right: 39px;
}
.globe{
    top: 280px;
    right: 30px;
}
.twitter{
    top: 360px;
    right: 54px;
}
/* slider section end */
