/* slider section start */
    .hero-inner{
        height: 350px;
        width: 350px;
    }
    .hero-inner img{
        position: absolute;
        right: 90px;
    }
    .hero-inner .sec-0{
        height: 95%;
        width: 95%;
    }
    .hero-inner .sec-1{
        height: 82.5%;
        width: 82.5%;
    }
    .hero-inner .sec-2{
        height: 70%;
        width: 70%;
    }
    .facebook{
        top: 57px;
        right: 56px;
    }
    .linkedin{
        top: 110px;
        right: 25px;
    }
    .globe{
        top: 170px;
        right: 16px;
    }
    .twitter{
        top: 230px;
        right: 34px;
    }
    /* slider section end */
