
/* slider section start */
    .hero-inner{
        height: 580px;
        width: 580px;
    }
    .hero-inner img{
        position: absolute;
        right: 140px;
    }
    .hero-inner .sec-0{
        height: 95%;
        width: 95%;
    }
    .hero-inner .sec-1{
        height: 82.5%;
        width: 82.5%;
    }
    .hero-inner .sec-2{
        height: 70%;
        width: 70%;
    }
    .facebook{
        top: 90px;
        right: 103px;
    }
    .linkedin{
        top: 180px;
        right: 45px;
    }
    .globe{
        top: 295px;
        right: 28px;
    }
    .twitter{
        top: 400px;
        right: 70px;
    }
/* slider section end */
